@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
    color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px !important;
    height: 5px !important;
}

::-webkit-scrollbar-thumb {
    background: #0066ff;
}

::-webkit-scrollbar-track {
    background: white;
}

.container {
    width: 95%;
    margin: auto;
}

.btn-org {
    background: #0066ff !important;
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 20px !important;
}

.btn-lg{
    font-size: 18px;
    padding: 10px 20px !important;
}
.link:hover {
    color: #0066ff;
}

.MuiBadge-badge {
    background-color: #0066ff !important;
}

nav ul button {
    text-transform: capitalize !important;
}

nav ul button:hover {
    background: none !important;
}

.sliderHome {
    overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    min-width: 45px;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 22px !important;
    color: black;
}

.sliderAdsBanner .swiper-button-prev,
.sliderAdsBanner .swiper-button-next {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    top: 55% !important;
}

.sliderAdsBanner .swiper-button-prev:after,
.sliderAdsBanner .swiper-button-next:after {
    font-size: 18px !important;
    color: black;
}

.sliderHomeCategory {
    overflow: inherit !important;
}

.homeCatergorySlider .swiper-button-prev,
.homeCatergorySlider .swiper-button-next {
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.homeCatergorySlider .swiper-button-prev::after,
.homeCatergorySlider .swiper-button-next::after {
    font-size: 16px !important;
}

.homeCatergorySlider .swiper-button-prev {
    left: -10px !important
}

.homeCatergorySlider .swiper-button-next {
    right: -10px !important
}

.homeCatergorySlider .item {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.homeCatergorySlider .swiper-button-prev:hover,
.homeCatergorySlider .swiper-button-next:hover {
    background: #0066ff !important;
}

.homeCatergorySlider .swiper-button-prev:hover::after,
.homeCatergorySlider .swiper-button-next:hover::after {
    color: white !important;
}

.homeCatergorySlider .item:hover img {
    transform: scale(1.1);
}

.MuiTabs-indicator {
    background-color: #0066ff !important;
}

.MuiTab-textColorPrimary {
    color: #0066ff !important
}

.productsSlider .swiper-wapper {
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
}

footer from input::placeholder {
    font-size: 14px;
}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #0066ff !important;
}

.MuiFormControlLabel-label {
    font-size: 13px !important;
    color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
    background: #0066ff !important;
}

.sliderHomeV2 .swiper-slide-active .info {
    right: 0px !important;
    opacity: 1;
}

.sliderHomeV2 .swiper-slide-active .info h4 {
    right: 0px !important;
    opacity: 1;
}

.sliderHomeV2 .swiper-slide-active .info h3 {
    right: 0px !important;
    opacity: 1;
}

.sliderHomeV2 .swiper-slide-active .info h2 {
    right: 0px !important;
    opacity: 1;
}

.sliderHomeV2 .swiper-slide-active .info .btn_ {
    right: 0px !important;
    opacity: 1;
}

.sliderHomeV2 .info h4 {
    transition-duration: 1.2s;
}

.sliderHomeV2 .info h3 {
    transition-duration: 1.8s;
}

.sliderHomeV2 .info h2 {
    transition-duration: 1.5s;
}

.sliderHomeV2 .info .btn_ {
    transition-duration: 2.1s;
}

@media (max-width: 991px) {
    .breadcrumb {
        padding: 20px 0;
    }
}

.breadcrumb{
    unicode-bidi: isolate;
    margin: -40px 0 40px;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    overflow: hidden;
    list-style: none;
    background-color: #f6f6f6;
    border-radius: 0;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
}

.breadcrumb ol{
    display: flex;
}